<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Page Not Found</title>
    <style>
      body {
        text-align: center;
        padding: 50px;
        background-color: #f8f9fa;
        color: #333;
      }
      h1 {
        font-size: 80px;
        margin-bottom: 10px;
        color: #dc3545;
      }
      p {
        font-size: 20px;
        color: #666;
      }
      a {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
      }
      a:hover {
        background-color: #0056b3;
      }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>404</h1>
    <h2>Oops! We couldn't find that page.</h2>
    <p>
      The page you are looking for might have been removed or the URL is
      incorrect.
    </p>

    <a href="/books">Go Back Home</a>
  </body>
</html>
